/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/* ------- */

/* Common */
.row-flex{
    display: flex;
}
li{
    list-style: none;
}
.btn{
    background-color: transparent;
    border: none;
}
.btn-prime{
    background-color: #0061ff;
    color: white;
    padding: 15px 15px;
    font-size: 16px;
}
.btn-secondary{
    border: 1px solid #000;
}
.big-container{
    width: 66vw;
    margin: 0 auto;
}
.small-container{
    width: 50vw;
    margin: 0 auto;
}
.small-box{
    width: 40vw;
}
.big-box{
    width: 60vw;
}
.text{
    padding: 0 35px 35px 0;
}
.box{
    margin: 0 25px;
}
.profilo{
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 13px 0;
}
.info{
    padding: 0 32px;
}
.costo{
    margin-bottom: 57px;
}
p{
    line-height: 1.5em;
}
/* ------- */

/* Header */
header.row-flex{
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
header.row-flex ul.row-flex{
    align-items: center;
}
header.row-flex ul.row-flex li a{
    text-decoration: none;
    color: black;
    margin: 0 20px;
}
header.row-flex ul.row-flex li button{
    padding: 10px 15px;
}
/* ------- */

/* Main */
main{
    margin-top: 80px;
}

/* Jumbotron */
.jumbotron{
    background-color: #b4d0e7;
    padding-top: 105px;
    /* height: 738px; */
}
.jumbotron .big-container .row-flex{
    position: relative;
    top: 70px;
    justify-content: flex-start;
}
.jumbotron .big-container h1{
    font-size: 90px;
    /* margin-bottom: 70px; */
}
.jumbotron .big-container .row-flex .big-box img{
    width: 100%;
}
.jumbotron .big-container .row-flex .small-box .btn-prime{
    margin-bottom: 37px;
}
#down-arrow{
    font-size: 45px;
    margin-top: 80px;
}
hr{
    width: 20%;
    margin: 45px 0 55px;
}
/* ------- */

/* Sezione 1 */
section.small-container h2{
    margin-top: 165px;
    font-size: 50px;
}
[type="radio"]{
    margin: 75px 0  55px;
}
.mese , .anno{
    display: inline-block;
    margin-right: 45px;
    font-size: 16px;
}
.small-container.section-1 .row-flex.abbonamento .box{
    width: calc(100vw/3);
    border: 1px solid #d0d0d3;
}
.small-container.section-1 .row-flex.abbonamento {
    margin: 0 -25px;
    margin-bottom: 50px;
}
.costo li:first-child{
    margin: 44px 0 27px;
    font-size: 25px;
}
.prezzo{
    margin-bottom: 20px;
    font-weight: bold;
}
.small-container.section-1 .row-flex .info ul.info-text li{
    margin-bottom: 26px;
}
.small-container.section-1 .row-flex .info ul.info-text li i{
    margin-right: 5px;
}
.info .btn-buy button{
    font-size: 12px;
    padding: 15px 35px;
    margin: 55px 0 35px;
}

.highlights h4{
    margin-bottom: 40px;
}
.highlights li:not(:first-child){
    margin-bottom: 30px;
}
.highlights li i{
    color: blue;
    margin-right: 5px;
}
.box-col{
    border: 1px solid #d0d0d3;
}
.box-col .info{
    padding: 40px 32px;
}
.box-info-left{
    width: 70vw;
}
.box-info-right{
    width: 30vw;
    text-align: right;
}
.box-col .info .row-flex .box-info-left div{
    padding-top: 30px;
}
.box-col .info p{
    margin-top: 50px;
}
/* ------- */

/* Sezione 2 */
.section-2{
    margin: 150px 0;
}
.section-2 .small-container .big-box img{
    width: 100%;
}
.section-2 .row-flex .small-box{
    padding: 57px 50px;
}
.section-2 .row-flex .small-box h3{
    font-size: 30px;
}
.section-2 .row-flex .small-box p{
    margin: 28px 0 35px;
}
.section-2 .row-flex .small-box button{
    padding: 16px;
    font-size: 16px;
}
/* ------- */

/* Sezione 3 */
.section-3 .small-container .row-flex img{
    width: 100%;
}
.section-3 .small-container .row-flex{
    margin: 0 -25px 70px;
}
.section-3 .small-container .row-flex div{
    margin: 0 25px;
}
.section-3 .small-container .row-flex div h3{
    margin-bottom: 30px;
    line-height: 1.5em;
    font-size: 25px;
}
/* ------- */

/* Sezione 4 */
#section-4{
    margin-top: 215px;
}
#section-4 .mini-box{
    max-width: 75%;
}
#section-4 .mini-box a{
    display: block;
    margin-top: 78px;
    color: #0000f1;
}
/* ------- */

/* Sezione 5 */
#section-5{
    margin: 160px 0;
}
#section-5 > .row-flex{
    background-color: #f5f5f5;
    height: 640px;
}
.box-color-3{
   flex-basis: calc(100%/3); 
}
.box-color-3 img{
    width: 100%;
    display: block;
}
#left, #right{
    flex-wrap: wrap;
}
.box-color{
    width: 50%;
    height: 50%;
    position: relative;
}
.box-color img{
    /* position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%,-50%); */
}
.center{
    padding: 50px;
}
.center img{
    width: 50%;
    display: block;
}
.center p{
    margin-bottom: 50px;
}
#color-1{
   background-color: #d1e9cd; 
   padding: 15px;
}
#color-2{
    background-color: #a2d39b;
    padding: 122px 72px;
}
#color-3{
    background-color: #61082b;
    padding: 100px 80px;
}
#color-4{
    background-color: #0093ce;
    padding: 145px 78px;
}
#color-5{
    background-color: #ff1c1c;
    padding: 121px 80px;
}
#color-6{
    background-color: #d5001f;
    padding: 133px 76px;
}
#color-7{
    background-color: #b4d0e7;
    padding: 155px 78px;
}
#color-8{
    background-color: #0d2481;
    padding: 119px 79px;
}
#color-9{
    background-color: #ffd830;
    padding: 106px 80px;
}
.orizzontale{
    background-color: #b4d0e7;
}
.orizzontale .small-container.row-flex{
    padding: 134px 0;
}
.orizzontale .big-box{
    margin-right: 50px;
}
.orizzontale .big-box h2{
    font-size: 40px;
    color: #61082b;
}
.orizzontale .small-box{
    text-align: right;
}
.orizzontale .small-box button{
    background-color: white;
    color: black;
    padding: 17px 50px;
    font-size: 16px;
}
/* ------- */

/* Sezione 6 */
#section-6{
    margin-bottom: 152px;
}
#section-6 .small-container h4{
    font-size: 40px;
    margin-bottom: 72px;
}
.question{
    padding: 47px 0;
    border-top: 1px solid #999999;
    font-weight: bold;
}
.question:last-child{
    border-bottom: 1px solid #999999;
}
.question i{
    margin-left: 286px;
}
/* ------- */

/* Footer */
footer{
    background-color: #000;
    color: white;
}
footer hr{
    margin: 0;
    padding: 0;
    width: 10%;
}
footer .row-flex{
    justify-content: space-between;
    padding: 110px 0;
}
footer .row-flex li h4{
    font-size: 24px;
    margin-bottom: 40px;
}
footer .row-flex li ul li a{
    display: block;
    padding: 11px 0;
    text-decoration: none;
    color: inherit;
}
.language{
    padding: 54px 0;
    color: #999999;
}
.fa-globe{
    font-size: 20px;
    margin-right: 10px;
}
/* ------- */